body{ 
    font-size:16px;
}

.titleLogo{
    float: left;
    height: 60px;
    margin: -12px 0px 0px 20px;
}

.title{
    /* float: right; */
    height: 48px;
    font-size: 1.2rem;
    color: green;
    margin-left: 25%;
}

.banner{
    margin-top: 2vh;
    border: 3px solid #2285d4;
    border-radius: 35px;
}

.span1{
    background: #bfbfbf;
    border-radius: 10px;
    padding: 5px 5px 5px 5px;
}

.logoImage{
    background-image: url("./image/mplus-logo2018.png");
    background-repeat:no-repeat;
    width: 30%;
}

.center{
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
    text-align: center;
    margin-top:2%;
}

@media only screen and (min-width: 769px) {
/* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}

    .Lfloatleft{
        float: left;
    }

    .Lfloatright{
        float: right;
    }

    .navbtn{
        margin-top:4%;
        font-size:2vw;
    }

    .detail{
        margin-top: 5%;
        margin-right: 10vw;
        text-align: left;
    }
}

/* @media only screen and (max-width: 768px) {
    For mobile phones:
    [class*="col-"] {
        width: 100%;
    }
} */

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}
}
